<div class="background" (click)="closeModal()"></div>
<div class="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change password</h4>
        <button type="button" class="close" (click)="closeModal()">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form #passwordForm="ngForm" (ngSubmit)="changePassword()">
          <div class="form-group">
            <label for="password">
              Password:
            </label>
            <input type="password"
                   class="form-control"
                   id="password" name="password"
                   ngModel #password="ngModel"
                   required minlength="6" maxlength="12">
            <div class="invalid-feedback d-inline" *ngIf="!password.valid && password.touched">
              <span *ngIf="password?.errors.required">
                This field is required.
              </span>
              <span *ngIf="password?.errors.minlength">
                Min length for password is 6 Characters.
              </span>
              <span *ngIf="password?.errors.maxlength">
                Max length for password is 12 Characters.
              </span>
            </div>
          </div>
          <div class="form-group">
            <label for="confirmPassword">
              Confirm Password:
            </label>
            <input type="password" class="form-control"
                   id="confirmPassword" name="confirmPassword"
                   ngModel #confirmPassword="ngModel"
                   required appPassValidator [password]="password.value" [disabled]="!password.valid">
            <div class="invalid-feedback d-inline" *ngIf="!confirmPassword.valid && confirmPassword.touched">
              <span *ngIf="confirmPassword?.errors && confirmPassword?.errors.required">
                This field is required.
              </span>
              <span *ngIf="confirmPassword?.errors && confirmPassword?.errors.appPassValidator">
                Password and confirm password should be equal.
              </span>
            </div>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="submit"
                    class="btn btn-info"
                    [disabled]="!passwordForm.valid"
            >Change password
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

