<ng-template appPlaceHolder></ng-template>
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand text-white" routerLink="dashboard">QUIZ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon text-white"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-white" routerLink="dashboard">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="drag-drop">Drag and Drop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="template">Template</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="wars">Wars</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white"  (click)="toggle()" href="javascript:;">
          {{email}}
        </a>
        <div class="dropdown-menu d-inline ml-3" *ngIf="toggleDropDown">
          <a class="dropdown-item" href="javascript:;" (click)="ChangePassword()">Change Password</a>
          <a class="dropdown-item" href="javascript:;" (click)="LogOut()">LogOut</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
